<% content_for(:title) do %>
  <title><%= @user.name %>さん - monolist</title>
<% end %>

<% content_for(:head) do %>
  <meta name="keywords" content="<%= @user.name %>,amazon,通販,monolist,モノリスト" />
  <meta name="description" content="<%= @user.name %>さんのMonolist(モノリスト)ページです。<%= @user.name %>さんの欲しいモノ、持っているモノを紹介しています。" />
<% end %>

<%= render 'profile' , user: @user %>


<%#= render 'items/list' , items: @items %>