<% content_for(:title) do %>
  <title><%= @item.title %> - monolist</title>
<% end %>

<% content_for(:head) do %>
  <meta name="keywords" content="<%= @item.title %>,amazon,通販,monolist,モノリスト" />
  <meta name="description" content="amazonで買える<%= @item.title %>に関する情報です。この商品を欲しい人、持っている人を紹介しています。" />
<% end %>

<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <% #TODO 商品イメージ %>
          <% if @item.large_image.present? %>
            <%= image_tag(@item.large_image, alt: @item.title) %>
          <% else %>
            <%= image_tag("no-image.png" , alt: @item.title) %>
          <% end %>
        </div>
      </div>
      <div class="title">
        <% #TODO 商品タイトル %>
        <%= @item.title %>
      </div>
      <%= render 'action' , item: @item %>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
          <% # TODO Haveしたユーザー一覧 %>
          <%# Haveテーブルのitem_idカラムに@item.idの値を持つレコードをhave_usersに格納
          これは、コントローラで定義したが、一応ここに残しておく
          %>
          <%# have_users = Have.where(item_id: @item.id) %><%# Haveテーブルのitem_idカラムに@item.idの値を持つレコードをhave_usersに格納 %>
          <% @have_users.each do |f| %>
            <%= link_to (gravatar_for f.user, size: 30, alt: f.user.name, title: f.user.name), user_path(f.user.id), target: "_blank" %>
          <% end %>
        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          <% # TODO Wantしたユーザー一覧 %>
          <%# Wantテーブルのitem_idカラムに@item.idの値を持つレコードをwant_usersに格納
          これは、コントローラで定義したが、一応ここに残しておく。
          %>
          <%# want_users = Want.where(item_id: @item.id) %>
          <% @want_users.each do |f| %>
            <%= link_to (gravatar_for f.user, size: 30, alt: f.user.name, title: f.user.name), user_path(f.user.id), target: "_blank" %>
          <% end %>
        </div>
      </div>
      <div class="text-center">
        <% #TODO 正しいリンク先に %>
        <%= link_to (image_tag("amazon-button.png", {alt: "Amazon詳細ページへ"})), @item.detail_page_url, target: "_blank" %>
      </div>
    </div>
  </div>
</div>
