<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:title) %><%# content_for はtitle と meta で別けた %>
    <%= yield :title %>
  <% else %>
    <title>Monolist</title>
  <% end %>
  <% if content_for?(:head) %>
    <%= yield :head %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
</head>
<body>

<%= render partial: "layouts/header" %>
  <div id="notice">
    <% flash.each do |message_type, message| %><!-- フラッシュメッセージを表示ここから -->
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %><!-- フラッシュメッセージを表示ここまで -->
  </div>
<%= yield %>
<%= render partial: "layouts/footer" %>

  <!-- フラッシュメッセージ消す -->
  <script>
  $(function() {
  	setTimeout(function() {
  		$('#notice').fadeOut("slow");
  	}, 1000);
  });
  </script>
</body>
</html>
